.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.logo {
  height:50px;
  width:50px;
}

.navbar {
  background-color: #f8f9fa !important;
}

.nav-item {
  transition-duration: 1s !important;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.nav-item:hover {
  transition-duration: 1s !important;
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0) !important;
}