@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color:#A8C386;
    --secondary-color: #D2E4BB;
    --tertiary-color: #E7F0DC;
    --additional-color-1: #F6F8F3;
    --additional-color-2: #FFFFFF;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 9pt;
  font-weight: 500;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100vh;
  width: 100%;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background: #E7F0DC;
  background: -webkit-linear-gradient(90deg,rgba(231, 240, 220, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  background: -moz-linear-gradient(90deg,rgba(231, 240, 220, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  background: linear-gradient(90deg,rgba(231, 240, 220, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#E7F0DC",
    endColorstr="#EDDD53",
    GradientType=1
  );
}

.input-label {
  font-size: 10pt;
  text-transform: capitalize;
}

.btn-primary {
  font-size: 11pt;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #597445 !important;
  border: none;
  transition-duration: 1s !important;
}

.btn-primary:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0) !important;
}

a {
  text-decoration: none !important;
}

